<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile_img.jpeg" %>
	</div>
	
	<div id="content">
		<h1>It's Mr. Stack </h1>
		<p>I'm stack, the panda... Large, black patches around eyes, over the ears, and across my round body. The name "giant panda" is sometimes used to distinguish it from the red panda, a neighboring musteloid. </p>
        <h3>Happy to see you here!!</h3>

	</div>

</div>